@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

$primaryColor: hsl(179,
62%,
43%);
$secondaryColor: hsl(71,
73%,
54%);
$thirdColor: hsl(204,
43%,
93%);
$fourthColor: hsl(218,
22%,
67%);
body {
    Font-size: 16px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $thirdColor;
    font-family: Karla;
    main {
        width: 50%;
        height: 50%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: white;
        border-radius: 10px;
        @media (max-width: 375px) {
            width: 80%;
            height: 80%;
        }
        .topContainer {
            grid-area: 1 / 1 / 3 / 6;
            padding: 5%;
            h1 {
                margin-bottom: 2%;
                color: $primaryColor;
                font-size: 25px;
            }
            h3 {
                margin-bottom: 2%;
                color: $secondaryColor;
            }
            p {
                line-height: 25px;
            }
        }
        .bottomContainer__left {
            padding: 10%;
            grid-area: 3 / 1 / 6 / 3;
            background-color: $primaryColor;
            color: white;
            border-radius: 0 0 0 10px;
            @media (max-width: 375px) {
                grid-area: 3 / 1 / 5 / 5;
            }
            h2 {
                margin-bottom: 10%;
                font-size: 20px;
            }
            p:nth-child(2) {
                margin-bottom: 5%;
                font-size: 50px;
                span {
                    font-size: 20px;
                    color: hsl(179, 47%, 52%);
                }
            }
            p:nth-child(3) {
                font-weight: 400;
                margin-bottom: 15%;
            }
            button {
                color: white;
                width: 100%;
                height: 50px;
                border: 0;
                background-color: $secondaryColor;
                border-radius: 5px;
            }
        }
        .bottomContainer__right {
            grid-area: 3 / 3 / 6 / 5;
            padding: 10%;
            background-color: hsl(179, 47%, 52%);
            color: white;
            border-radius: 0 0 10px 0;
            @media (max-width: 375px) {
                grid-area: 5 / 1 / 7 / 5;
            }
            h2 {
                margin-bottom: 12%;
            }
            p {
                color: hsl(182, 63%, 72%);
                font-size: 15px;
                line-height: 25px;
                white-space: pre-line
            }
        }
    }
}